<!DOCTYPE html>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <section>
        <div class="grid grid--tb2-12">
            <div class="grid__column grid__column--4">
                <div class="mb-tiny">
                    <p class="subheading">
                        Фильтр:
                    </p>
                </div>
                <ul class="link-list">
                    {% for tag in tags %}
                        <li class="link-list__item ">
                            <a class="tag" href="{{ tag.id }}"
                               style="border-color: #2db416; color: #38c420;">
                                {{ tag }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid__column grid__column--8">
                <div class="mb-large">
                    <h1 class="mb-tiny">
                        Статьи
                    </h1>
                    <p class="txt-large">
                        Мои мысли о разработке и технологиях
                        <br>
                        (иногда публикую на другие платформы)
                    </p>
                </div>

                {% for article in articles %}

                    <article class="post-preview">
                        <h3 class="post-preview__title">
                            <a href="{{ article.id }}">
                                {{ article.name }}
                            </a>
                        </h3>
                        <p class="post-preview__meta">
                            {% for tag in article.tags.all %}
                                <a class="tag"
                                   style="border-color: #38c420; color: #32d218;">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                            <br>
                            {{ article.date_created }}
                            /
                            4 minute read
                        </p>
                        <div class="post-preview__excerpt">
                            <p>
                                {{ article.text | truncatewords:'35' }}
                            </p>
                        </div>
                        <p class="post-preview__action">
                            <a href="">
                                Читать статью.. →
                            </a>
                        </p>
                    </article>

                {% endfor %}


            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}

</div>
</body>