<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link href="/img/favicon-32x32.png" rel="icon" sizes="32x32">
    <link href="/img/favicon-192x192.png" rel="icon" sizes="192x192">
    <link href="/img/favicon-297x297.png" rel="apple-touch-icon-precomposed">
    <meta content="/img/favicon-297x297.png" name="msapplication-TileImage">
    <title>
        Статьи |
        Ковалик Иван
    </title>
    <meta name="description" content="My thoughts on web development and a look at my personal life.">
    <meta name="google-site-verification" content="bzTP6T7_iPqdsTPB1KIMbC5z7GXwvXKbcedNpY">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sebkaydesign">
    <meta name="twitter:title" content="Seb Kay">
    <meta name="twitter:description"
          content="A web developer from Southampton, UK. Specialising in Laravel, WordPress, JavaScript and Vue.js.">
    <meta name="twitter:image"
          content="https://res.cloudinary.com/sebkay/image/upload/v1651768884/seb-kay-twitter-card_cvco9q.jpg">
    <link rel="preload" as="style" href="https://sebkay.com/build/assets/app-164f6dde.css">
    <link rel="modulepreload" href="https://sebkay.com/build/assets/app-7bd53f54.js">
    <link rel="modulepreload" href="https://sebkay.com/build/assets/vendor-fdabe717.js">
    <link rel="modulepreload" href="https://sebkay.com/build/assets/app-8d89d13e.js">
    <link rel="stylesheet" href="https://sebkay.com/build/assets/app-164f6dde.css">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async=""
            src="https://www.googletagmanager.com/gtag/js?id=G-KJSS1DK4GH&amp;l=dataLayer&amp;cx=c"></script>
    <script type="module" src="https://sebkay.com/build/assets/app-7bd53f54.js"></script>
    <script type="module" src="https://sebkay.com/build/assets/app-8d89d13e.js"></script>
</head>
<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <section>
        <div class="grid grid--tb2-12">
            <div class="grid__column grid__column--4">
                <div class="mb-tiny">
                    <p class="subheading">
                        Поиск
                    </p>
                </div>
                <div class="mb-medium">
                    <form class="search-form" action="https://sebkay.com/articles">
                        <input class="search-form__field" type="text" name="s"
                               placeholder="Python, Django, additional libraries.." enterkeyhint="search" value="">
                        <button class="search-form__action">
                            Поиск
                        </button>
                    </form>
                </div>
                <div class="mb-tiny">
                    <p class="subheading">
                        Фильтр:
                    </p>
                </div>
                <ul class="link-list">

                    {% for tag in tags %}
                        <li class="link-list__item ">
                            <a class="tag" href="{% url 'index-page' %}" style="border-color: #2db416; color: #38c420;">
                                {{ tag.tag_name }}
                            </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="grid__column grid__column--8">
                <div class="mb-large">
                    <h1 class="mb-tiny">
                        Статьи
                    </h1>
                    <p class="txt-large">
                        Мои мысли о разработке и технологиях
                        <br>
                        (иногда публикую на другие платформы)
                    </p>
                </div>

                {% for article in articles %}
                    <article class="post-preview">
                        <h3 class="post-preview__title">
                            <a href="https://sebkay.com/articles/{{ article.tag }}/{{ article.name }}/">
                                {{ article.name }}
                            </a>
                        </h3>
                        <p class="post-preview__meta">
                            <a class="tag" href="https://sebkay.com/articles/{{ article.tag.name }}/"
                               style="border-color: #38c420; color: #32d218;">
                                {{ article.tag.name }}
                            </a>
                            <br>
                            {{ article.date_created }}
                            /
                            4 minute read
                        </p>
                        <div class="post-preview__excerpt">
                            <p>
                                {{ article.text }}
                            </p>
                        </div>
                        <p class="post-preview__action">
                            <a href="https://sebkay.com/articles/{{ article.tag }}/{{ article.name }}">
                                Читать статью.. →
                            </a>
                        </p>
                    </article>
                {% endfor %}


            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}

</div>

<script defer="" src="https://www.googletagmanager.com/gtag/js?id=UA-31577987-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-31577987-1');
</script>


</body>