{% load crispy_forms_filters %}
<!DOCTYPE html>

{% include 'components/head.html' %}

{% load crispy_forms_field %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <div class="wysiwyg">
        <h1>
            Связь со мной
        </h1>
        <p class="txt-large">
            Если Вы хотите узнать что-нибудь об одном из проектов или хотите предложить офер,
            пожалуйста, заполните форму ниже. Я отвечу Вам, как только увижу Ваше сообщение.
        </p>
    </div>

    <section>
        <div class="mt-large">
            <form class="form" action="" method="post">
                {% csrf_token %}
                <div class="form__row">
                    <div class="form__field">
                        <label for="name" class="form__label">
                            Имя <span class="form__required">*</span>
                        </label>
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form__field">
                        <label for="email" class="form__label">
                            Email <span class="form__required">*</span>
                        </label>
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="subject" class="form__label">
                            Тема <span class="form__required">*</span>
                        </label>
                        {{ form.subject|as_crispy_field }}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="message" class="form__label">
                            Сообщение <span class="form__required">*</span>
                        </label>
                        {{ form.message|as_crispy_field }}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <button class="btn" type="submit">
                            Отправить сообщение
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    {% include 'components/footer.html' %}

</div>
</body>