<!DOCTYPE HTML>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <section class="mb-huge">
        <div class="box wysiwyg">
            <h1>
                Приветствую, меня зовут Иван.
            </h1>
            <p class="txt-large">
                Я Python developer из Москвы. В настоящий момент работаю фрилансером на платформах () и ().
                В свободное время занимаюсь разработкой собственных проектов, увлекаюсь шахматами.
                Разрабатываю на Python, Django, DRF, люблю работать с библиотекой Selenium.
            </p>
            <p>
                I'm on <a href="" target="_blank">GitHub</a>, <a
                    href="" target="_blank">Twitter</a> and <a
                    href="" target="_blank">Instagram</a>.
            </p>
        </div>
    </section>
    <section>
        <div class="mb-large">
            <h2>
                Мои последние статьи:
            </h2>
        </div>

        {% for article in articles %}

            <article class="post-preview">
                <h3 class="post-preview__title">
                    <a href="https://sebkay.com/articles/converting-a-laravel-inertia-app-from-mix-to-vite">
                        {{ article.name }}
                    </a>
                </h3>
                <p class="post-preview__meta">

                    {% for tag in tags %}
                        <a class="tag" href="https://sebkay.com/articles/category/laravel"
                           style="border-color: #2db416; color: #38c420;">
                            {{ article.tag.name }}
                        </a>
                    {% endfor %}

                    <br>
                    {{ article.date_created }}
                    /
                    4 minute read
                </p>
                <div class="post-preview__excerpt">
                    <p>
                        {{ article.text }}
                    </p>
                </div>
                <p class="post-preview__action">
                    <a href="https://sebkay.com/articles/converting-a-laravel-inertia-app-from-mix-to-vite">
                        Читать статью →
                    </a>
                </p>
            </article>

        {% endfor %}


    </section>
    {% include 'components/footer.html' %}
</div>

<script defer="" src="https://www.googletagmanager.com/gtag/js?id=UA-31577987-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-31577987-1');
</script>


</body>