<!DOCTYPE HTML>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <section class="mb-huge">
        <div class="box wysiwyg">
            <h2>
                Здравствуйте, меня зовут Иван.
            </h2>
            <p class="txt-large" style="font-size: 19px">
                Я Python разработчик из Москвы. <br>
                В свободное время занимаюсь разработкой собственных проектов, увлекаюсь шахматами. <br>
                Основными технологиями являются Python, Django, DRF, а также разные сторонние
                библиотеки и технологии, подробнее о которых вы можете узнать в разделе CV.
            </p>
            <p>
                Мой аккаунт на <a href="https://github.com/IvanKovalik" target="_blank"
                                  style="font-weight: bold; color:black;">GitHub</a>,
            </p>
        </div>
    </section>
    <section>
        <div class="mb-large">
            <h3>
                Мои последние статьи:
            </h3>
        </div>

        {% for article in articles %}

            <article class="post-preview">
                <h3 class="post-preview__title">
                    <a href="/articles/by-id/{{ article.id }}">
                        {{ article.name }}
                    </a>
                </h3>
                <p class="post-preview__meta">

                    {% for tag in article.tags.all %}
                        <a class="tag" href="/articles/{{ tag.slug }}"
                           style="border-color: #2db416; color: #38c420;">
                            {{ tag }}
                        </a>
                    {% endfor %}

                    <br>
                    {{ article.date_created }}
                    /
                    4 minutes read
                </p>
                <div class="post-preview__excerpt">
                    <p>
                        {{ article.text | truncatewords:'35' }}
                    </p>
                </div>
                <p class="post-preview__action">
                    <a href="/articles/by-id/{{ article.id }}">
                        Читать статью →
                    </a>
                </p>
            </article>
        {% endfor %}

    </section>
    {% include 'components/footer.html' %}


</div>
</body>
<style>
    .box {
        background: rgba(183, 255, 183, 0.28);
    }
</style>