<!DOCTYPE html>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <div class="mb-large">
        <h1 class="mb-tiny">
            Проекты
        </h1>
        <p class="txt-large">
            Некоторые из моих проектов.
        </p>
    </div>
    <section class="page-wide">

        {% for project in projects %}

            <div class="project-preview">
                <figure class="project-preview__media">
                    <a href="/projects/{{ project.name }}">
                        <img src="https://res.cloud52/v1676549597/app.harlist.io_p5fgqc.png"
                             alt="Screenshot of Harlist">
                    </a>
                </figure>
                <div class="project-preview__content">
                    <h2 class="project-preview__title">
                        <a href="/projects/{{ project.name }}">
                            {{ project.name }}
                        </a>
                    </h2>
                    {% for tag in project.tags.all %}
                        <a class="tag" href="{% url 'index-page' %}"
                           style="border-color: #2db416; color: #38c420; margin-bottom: 15px;">
                            {{ tag }}
                        </a>
                    {% endfor %}
                    <p class="project-preview__desc">
                        {{ project.description }}
                    </p>
                    <div class="project-preview__meta">
                        <ul class="list list--regular">
                            <li class="list__item">
                                {{ project.what_have_been_done_by_me }}
                            </li>
                        </ul>
                    </div>
                    <div class="project-preview__action">
                        <a href="/projects/{{ project.name }}" class="btn">
                            Смотреть проект
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </section>

    {% include 'components/footer.html' %}

</div>
</body>