<!DOCTYPE html>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <div>
        <h2>
            {{ article.name }}
        </h2>
{#        <p>#}
{#            Статья написана {{ article.date_created|timesince }} назад.#}
{#        </p>#}
        <hr>
        <p>
            {{ article.text|linebreaks }}
        </p>


        <ul class="link-list" style="margin-top: 2.5rem;">
            <h5 style="margin-top: 0.2rem; margin-right: 0.5rem;">Tags: </h5>

            {% for tag in article.tags.all %}
                <li class="link-list__item ">
                    <a class="tag" href="/articles/{{ tag.slug }}"
                       style="border-color: #2db416; color: #38c420;">
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

    {% include 'components/footer.html' %}

</div>
</body>