<!DOCTYPE html>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <div style="align-items: center">
        <section class="page-wide" style="align-items: center">
            <div>
                <figure class="project-preview__media">
                    <img src="{{ project.preview_image.url }}" style=" width: 100%;"
                         alt="Screenshot of Project">
                </figure>
            </div>
        </section>

        <h3 style="margin-top: 3rem;">
            {{ project.name }}
        </h3>
        {#        <p>#}
        {#            Статья написана {{ article.date_created|timesince }} назад.#}
        {#        </p>#}
        <ul class="link-list" style="margin-top: 1.25rem;">
            {% for tag in project.tags.all %}
                <li class="link-list__item ">
                    <a class="tag"
                       style="border-color: #2db416; color: #38c420;">
                        {{ tag }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <hr style="margin-top: 1.5rem; margin-bottom: 2rem;">
        <p>
            {{ project.text|linebreaksbr }}
        </p>

    </div>

    {% include 'components/footer.html' %}

</div>
</body>

<style>
    @media screen and (min-width: 671px) {
        .project-preview__media {
            width: 85%;
            margin-left: 5rem;
        }
    }
</style>