<!DOCTYPE html>

{% include 'components/head.html' %}

<body>
<div class="wrap">

    {% include 'components/header.html' %}

    <div class="mb-large">
        <h1 class="mb-tiny">
            Работа
        </h1>
        <p class="txt-large">
            Опыт работы и рекомендательные письма от клиентов.
        </p>
    </div>
    <section class="page-wide">

        {% for work_project in work_projects %}

            <div class="project-preview">
                <figure class="project-preview__media">
                    <a href="/work/by-id/{{ work_project.id }}">
                        <img src="{{ work_project.preview_image.url }}"
                             alt="Screenshot of Work Project">
                    </a>
                </figure>
                <div class="project-preview__content">
                    <h2 class="project-preview__title">
                        <a href="/work/by-id/{{ work_project.id }}">
                            {{ work_project.name }}
                        </a>
                    </h2>
                    <p class="project-preview__desc">
                        {{ work_project.description }}
                    </p>
                    <div class="project-preview__meta">
                        <ul class="list list--regular">
                            <li class="list__item">
                                {{ work_project.what_have_been_done_by_me1|linebreaksbr }}
                            </li>
                            {% if work_project.what_have_been_done_by_me2 %}
                                <li class="list__item">
                                    {{ work_project.what_have_been_done_by_me2|linebreaksbr }}
                                </li>
                            {% endif %}
                            {% if work_project.what_have_been_done_by_me3 %}
                                <li class="list__item">
                                    {{ work_project.what_have_been_done_by_me3|linebreaksbr }}
                                </li>
                            {% endif %}
                            {% if work_project.what_have_been_done_by_me4 %}
                                <li class="list__item">
                                    {{ work_project.what_have_been_done_by_me4|linebreaksbr }}
                                </li>
                            {% endif %}


                        </ul>
                    </div>

                    <div class="project-preview__action">
                        <a href="/work/by-id/{{ work_project.id }}" class="btn">
                            Смотреть проект
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </section>

    {% include 'components/footer.html' %}

</div>

<script defer="" src="https://www.googletagmanager.com/gtag/js?id=UA-31577987-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-31577987-1');
</script>


</body>