{% block content %}
    <header class="header">
        <div class="header__section header__section--media">
            <a class="logo" href="/">
                <picture>
                    <img src="/media/1638037613_2-koshka-top-p-kot-s-zubami-cheloveka-2.png" alt="Head of Kovalik Ivan">
                </picture>
                <span class="logo__text">
                    Ковалик Иван
                </span>
            </a>
        </div>
        <div class="header__section header__section--menu">
            <a class="logo" href="{% url 'index-page' %}">
                <span class="logo__text">
                Ковалик Иван
                </span>
            </a>
            <nav class="menu">
                <a class="menu__item " href="{% url 'work-page' %}">
                    Работа
                </a>
                <a class="menu__item " href="{% url 'projects-page' %}">
                    Проекты
                </a>
                <a class="menu__item " href="{% url 'articles-page' %}">
                    Статьи
                </a>
                <a class="menu__item " href="{% url 'contact-page' %}">
                    CV
                </a>
            </nav>
        </div>
    </header>
    <style>
        .logo__text::after {
            background: forestgreen;
        }
    </style>
{% endblock %}